<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}

<body>
  {% include header.html %}
  <ul>
    {% for post in site.posts %}
      {% if page.category %}
        {% if post.category == page.category %}
          <li>
            
            <a href="{{ post.url  | relative_url }}">{{ post.title }} - {{ post.category }}</a>
          </li>
        {% endif %}
      {% else %}
        <li>
          <a href="{{ post.url  | relative_url }}">{{ post.title }} - {{ post.category }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {{ content}}
</body>

</html>
